In [2]:
# import lib
import matplotlib.pyplot as plt
import time
from sklearn.preprocessing import MinMaxScaler

from keras.api.models import Sequential
from keras.api.layers import Dense
from keras.api.layers import LSTM
from keras.api.layers import Dropout

from keras.api.models import save_model

import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("data.csv")
df.set_index("date")

            price  warehouse_capacity  truck_capacity
date
2024-01-01  43.67                  58              60
2024-01-02  83.13                  80              41
2024-01-03  27.28                  70              42
2024-01-04  66.99                  57              45
2024-01-05  68.25                  57              57
...           ...                 ...             ...
2024-04-05  80.92                  66              59
2024-04-06  85.43                  73              59
2024-04-07  44.13                  72              54
2024-04-08  98.15                  66              70
2024-04-09  31.53                  63              67

[100 rows x 3 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   price               100 non-null    float64
 1   warehouse_capacity  100 non-null    int64
 2   truck_capacity      100 non-null    int64
 3   date                100 non-null    object
dtypes: float64(1), int64(2), object(1)
memory usage: 3.3+ KB

In [4]:
sc = MinMaxScaler(feature_range=(0, 1))

In [7]:
sc.fit_transform(df[['price', 'warehouse_capacity', 'truck_capacity']])

array([[0.43095677, 0.26666667, 0.66666667],
       [0.83517722, 1.        , 0.03333333],
       [0.26306085, 0.66666667, 0.06666667],
       [0.66984225, 0.23333333, 0.16666667],
       [0.68274944, 0.23333333, 0.56666667],
       [0.90688384, 0.93333333, 0.23333333],
       [0.81827494, 0.6       , 0.9       ],
       [0.61852079, 0.86666667, 0.43333333],
       [0.94601516, 1.        , 0.83333333],
       [0.9563614 , 0.93333333, 0.33333333],
       [0.68223725, 0.4       , 0.26666667],
       [0.45666872, 0.6       , 0.36666667],
       [0.82544561, 0.63333333, 0.96666667],
       [0.17670559, 0.1       , 0.7       ],
       [0.35423069, 0.76666667, 0.5       ],
       [0.31315304, 0.43333333, 0.16666667],
       [0.4795124 , 0.53333333, 0.86666667],
       [0.98699037, 1.        , 0.6       ],
       [0.96291743, 0.66666667, 0.56666667],
       [0.93577136, 0.53333333, 0.93333333],
       [0.22536365, 0.23333333, 0.43333333],
       [0.53257529, 0.3       , 0.76666667],
       [0.07897972, 1.        , 0.06666667],
       [0.54312641, 0.8       , 0.4       ],
       [0.34142594, 0.33333333, 0.8       ],
       [0.47203442, 0.7       , 0.4       ],
       [0.4956976 , 0.16666667, 0.2       ],
       [0.21430035, 0.76666667, 0.3       ],
       [0.72556853, 0.83333333, 0.76666667],
       [0.15560336, 0.63333333, 0.73333333],
       [0.30833846, 0.6       , 0.33333333],
       [0.20241754, 0.9       , 0.2       ],
       [0.35115755, 0.2       , 0.26666667],
       [0.63573038, 0.5       , 0.6       ],
       [0.33333333, 0.93333333, 0.76666667],
       [0.66574472, 0.76666667, 0.63333333],
       [0.65693505, 0.1       , 0.6       ],
       [0.19463225, 0.7       , 0.76666667],
       [0.32903094, 0.23333333, 0.43333333],
       [0.88957181, 0.        , 0.2       ],
       [0.93853719, 1.        , 0.46666667],
       [0.26951444, 0.9       , 0.33333333],
       [0.39182545, 0.63333333, 0.43333333],
       [0.56392133, 0.03333333, 0.73333333],
       [1.        , 0.03333333, 0.        ],
       [0.49805368, 0.3       , 0.06666667],
       [0.35556238, 0.3       , 0.53333333],
       [0.75824626, 0.46666667, 0.5       ],
       [0.6557058 , 0.66666667, 0.6       ],
       [0.12435976, 0.        , 0.9       ],
       [0.64095472, 0.4       , 0.13333333],
       [0.61647203, 0.73333333, 0.8       ],
       [0.63532063, 0.43333333, 0.46666667],
       [0.52407294, 0.83333333, 0.83333333],
       [0.12907191, 0.5       , 0.33333333],
       [0.99580004, 0.46666667, 0.96666667],
       [0.5218193 , 0.53333333, 0.16666667],
       [0.08133579, 0.76666667, 0.06666667],
       [0.06515058, 0.        , 0.8       ],
       [0.9191764 , 0.93333333, 0.76666667],
       [0.01137062, 0.36666667, 0.96666667],
       [0.68387625, 0.9       , 0.26666667],
       [0.59383323, 0.5       , 0.8       ],
       [0.47725876, 0.13333333, 0.9       ],
       [0.34777709, 0.46666667, 0.43333333],
       [0.1505839 , 0.93333333, 0.76666667],
       [0.61657447, 1.        , 0.33333333],
       [0.83261627, 0.5       , 0.73333333],
       [0.47336611, 0.7       , 0.5       ],
       [0.44591272, 0.93333333, 0.93333333],
       [0.11012088, 0.66666667, 0.6       ],
       [0.16277402, 0.43333333, 0.5       ],
       [0.0880967 , 0.6       , 0.93333333],
       [0.19493956, 0.9       , 0.7       ],
       [0.40237656, 0.6       , 0.66666667],
       [0.31284573, 0.4       , 1.        ],
       [0.73673428, 0.1       , 0.36666667],
       [0.93208359, 0.8       , 0.16666667],
       [0.99323909, 0.16666667, 0.3       ],
       [0.16062282, 0.76666667, 0.73333333],
       [0.        , 0.83333333, 0.96666667],
       [0.10858431, 1.        , 0.46666667],
       [0.15478386, 0.86666667, 1.        ],
       [0.7365294 , 0.7       , 0.46666667],
       [0.24124155, 0.03333333, 0.13333333],
       [0.72874411, 0.16666667, 0.6       ],
       [0.59332104, 0.3       , 0.5       ],
       [0.60551117, 0.56666667, 0.93333333],
       [0.59496005, 0.96666667, 0.3       ],
       [0.28406064, 0.83333333, 0.6       ],
       [0.15580824, 0.26666667, 0.13333333],
       [0.61032575, 0.76666667, 0.1       ],
       [0.54220447, 1.        , 0.36666667],
       [0.59280885, 0.43333333, 0.66666667],
       [0.71378816, 0.73333333, 0.36666667],
       [0.81253841, 0.53333333, 0.63333333],
       [0.85873796, 0.76666667, 0.63333333],
       [0.43566892, 0.73333333, 0.46666667],
       [0.98903913, 0.53333333, 1.        ],
       [0.30659701, 0.43333333, 0.9       ]])

In [ ]:
df.info